[submodule "StormLib"]
	path = StormLib
	url = git@github.com:zzlk/StormLib.git
[submodule "bzip2"]
	path = bzip2
	url = git@gitlab.com:federicomenaquintero/bzip2.git
[submodule "zlib"]
	path = zlib
	url = git@github.com:madler/zlib.git
